@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');


@font-face {
	font-family: 'Satoshi-Regular';
	src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
		 url('/fonts/Satoshi-Regular.woff') format('woff'),
		 url('/fonts/Satoshi-Regular.ttf') format('truetype');
		 font-weight: 400;
		 font-display: swap;
		 font-style: normal;
  }

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
}

/**
 * slide animation if prefers-reduced-motion is not set,
 * else default cross-fade animation
 */
@media (prefers-reduced-motion: no-preference) {
	:root::view-transition-old(root) {
		animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
			300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
	}

	:root::view-transition-new(root) {
		animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
			300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
	}
}

:root {
    --pico-font-family: "Satoshi-Regular", sans-serif;
	--pico-spacing: 2rem;
}

section.flat article {
	box-shadow: none;
	background: none;
}

.image-container {
	width: calc(100vw - 20px);
	margin-left: calc(-50vw + 50% + 10px);
}

.grid .image-container {
	width: auto;
	margin-left: unset;
}

video {
	max-width: 100%;
	max-height: 720px;
}

p {
	margin-block-start: var(--pico-typography-spacing-vertical);
}

h1, h2, h3, h4, h5, h6 {
    --pico-font-weight: 400;
}


.big-text {
	--pico-font-size: 1.75rem;
	--pico-line-height: 1.15;
	--pico-typography-spacing-top: 2.625rem;
	font-size: var(--pico-font-size);
}

.medium-text {
	--pico-font-size: 1.25rem;
    --pico-line-height: 1.2;
    --pico-typography-spacing-top: 1.874rem;
	font-size: var(--pico-font-size);
}

html {
	scroll-behavior:smooth;
  }

  .hero {
    padding-block: calc(var(--pico-spacing) * 4);
  }